.wrapper {
  border: 3px solid #444445;
  font-family: Helvetica;
}

.heading {
  border: 1px solid black;
  background-color: #5E6065;
  position: relative;
  i {
    // border: 1px solid green;
    color: #FFF;
    float: left;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }
  // i:hover {
  //   color: #3E5706;
  // }
  h4 {
    color: #FFF;
    // border: 1px solid blue;
    width: 300px;
    text-align: left;
    font-size: 15px;
 }
 // h4:hover{
 //   color:#3E5706;
 // }
  span {
    color: #FFF;
    font-weight:bold;
    font-size: 13px;
    border: 1px solid #404247;
    border-radius: 15px;
    background: #404247;
    float:right;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 2px 10px;
  }
}

.heading:hover {
  color: #3E5706;
}


// .dropBox,
// .skyDrive,
// .server,
// .dropBox2,
// .skyDrive2,
// .connect,
// .profiles,
// .options,
// .connect2,
// .profiles2,
// .options2
.belowItems
  div{
    border:1px solid black;
    text-align: left;
    padding-left:10px;
    background: #E5E5E5;
    height: 33px;
  span:nth-child(1){
      color: #A6A8B6;
      font-size: 10px;
      }
  span:nth-child(2){
      color: #797979;
      // border: 1px solid blue;
      margin-left: 20px;
      font-weight: bold;
      vertical-align: middle;
      margin-top: 4px;
      }
  span:nth-child(3){
      color: #797979;
      border: 1px solid #C9C9C9;
      padding: 1px 10px;
      border-radius: 15px;
      text-align: right;
      float:right;
      margin-right: 10px;
      margin-top:4px;
      }
};

//
// .belowItems {
//   h4{
//     color: #797979;
//
//   }
// }
