.wrapper {
  border: 3px solid #444445;
  font-family: Helvetica;
  padding-left: 0px;
  padding-right: 0px;
}

.heading {
  // linear-gradient(to top, #A5CA56, #6F921F)
  border: 1px solid #4C4E52;
  background-color: #5E6065;
  background: linear-gradient(#797A80, #4C4E52);
  position: relative;
  height: 40px;
  i {
    // border: 1px solid green;
    color: #FFF;
    float: left;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }
  // i:hover {
  //   color: #3E5706;
  // }
  h4 {
    color: #FFF;
    // border: 1px solid blue;
    width: 300px;
    text-align: left;
    font-size: 15px;
 }
 // h4:hover{
 //   color:#3E5706;
 // }
  span {
    color: #FFF;
    font-weight:bold;
    font-size: 13px;
    border: 1px solid #404247;
    border-radius: 15px;
    background: #404247;
    float:right;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 2px 10px;
  }
}

.heading:hover {
  background: linear-gradient(#ACD05E, #6C901A);
  transition: 1s;
    h4 {
      color: #3E5706;
      font-weight: bold;
    }
    i {
      color: #3E5706;
    }
}


.belowItems
  div{
    text-align: left;
    padding-left:10px;
    background: #E5E5E5;
    height: 40px;
    border-bottom: 1px solid #C9C9C9;
    position: relative;
  span:nth-child(1){
      color: #A6A8B6;
      font-size: 10px;
      position:absolute;
      bottom: 13px;
      }
  span:nth-child(2){
      color: #797979;
      // border: 1px solid blue;
      margin-left: 20px;
      font-weight: bold;
      vertical-align: middle;
      margin-top: 4px;
      position: absolute;
      bottom: 10px;
      }
  span:nth-child(3){
      color: #797979;
      border: 1px solid #C9C9C9;
      padding: 1px 10px;
      border-radius: 15px;
      text-align: right;
      float:right;
      margin-right:10px;
      margin-top:8px;
      }
};
